{% extends 'COC/base_COC.html' %}

{% block title %}
  Cestomer: {{customer.denomination}}
{% endblock %}


{% block content %}
  <h1 class="mt-5 mb-4">{{customer.denomination}}</h1>
  <p><b>Address:</b> {{customer.address}}</p>
  <p><b>Index:</b> {{customer.index}}</p>
  <p><b>Phone:</b> {{customer.telephone}}</p>
  <h5 class="mt-4 mb-3">Additional information</h5>
  <p><b>Contact person phone number:</b> {{customer.contactPersonPhoneNumber}}</p>
  <p><b>Contact person email:</b> {{customer.contactPersonEmail}}</p>
  <p><b>Price group discounts:</b></p>
  <p>
    {% for tag in customer.price_group_discounts.all %}
      <p>{{tag.price_group.denomination}}: {{tag.discount}}</p>
    {% endfor %}
  </p>

{% endblock %}
