{% extends 'COC/base_COC.html' %}

{% block title %}
  Product: {{product.denomination}}
{% endblock %}


{% block content %}
  <h1 class="mt-5 mb-4">{{product.denomination}}</h1>
  <p><b>Description:</b> {{product.description}}</p>
  <p><b>Box quantity:</b> {{product.box_quantity}}</p>
  <p><b>Min order quantity:</b> {{product.min_order_quantity}}</p>
  <p><b>Price group:</b> {{product.price_group.denomination}}</p>
  <p><b>Cost:</b> {{product.cost}}</p>
  <p><b>List Price:</b> {{product.list_price}}</p>
{% endblock %}
